
    <div class="container-fluid" >
   
        <div class="col-sm-6 text-black">
  
       
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5" >
  
            <form style="width: 23rem;">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;margin-left: 62%;">PLEASE LOGIN</h3>
  
              <div class="form-outline mb-4" >
                <label class="form-label" for="form2Example18">USERNAME</label>
                <input type="email" id="form2Example18" style="margin-left: 34%;margin-top: -12%;" placeholder="Username" class="form-control form-control-lg"  [(ngModel)]="loginObj.username" name ="username"/>
                
              </div><br><br>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example28">PASSWORD</label>
                <input type="password" style="margin-left: 34%;margin-top: -12%;" id="form2Example28"  placeholder="Password" class="form-control form-control-lg" [(ngModel)]="loginObj.password"  name = "password"
                />
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" style="margin-left: 53%;" type="button" (click) = "login()">Login</button>
              </div>
            
            </form>


                  

          
            <div _ngcontent-otv-c55=""  *ngIf="!this.outputModel.status && this.outputModel.message!=''"

 role="alert" class="alert alert-primary" style="margin-top: 64%;margin-left: -44%;width: 72%;"> {{this.outputModel.message}} </div>
          </div>
      
      </div>
    </div>
